.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid;
    outline: none;
    cursor: pointer;
    color:white;
    transition: all .3s ease;
    text-transform: uppercase;
}
.btn-primary{
    background-color:#F85F00;
}

.btn-primary:hover,:active{
    background-color: rgb(7, 7, 7);
    color: white;
  }

  .flex-1{
      flex: 1;
  }